/* #accordionGST {
  width: 480px;
} */

.accordion-item {
  border-radius: 10px;
  border: 1px solid rgba(1, 77, 171, 1) !important;
  margin-bottom: 40px;  
}
.custom-tracking-image-style {
  /* Add your custom styles for the tracking image here */
  left: -20px;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.accordion-item:not(:first-of-type) {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.accordion-button::after {
  display: none;
}

#ab1 {
  padding: 2rem 5rem !important;
  font-family: Proxima Nova, sans-serif !important;
  font-size: 24px;
  line-height: 34px;
}

.sAccordion {
  height:1050px;
}

.saccordion {
  height: 800px; 
}
.home-image23 {
  top: 1870px;
  left: -156px;
  width: 1440px;
  height: 310px;
  position: absolute;
}

.waitlist-section {
  /* top: 800px; */
  width: 1120px;
  height: 430px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 40px;
  background-color: rgba(34, 34, 34, 1);
  margin-bottom: 120px; /* Add bottom margin */
}



.home-personolandingpageoption2product {
  width: 100%;
  height: 5800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
#specialText {
  font-size: 29px !important;
}
#accordion1 {
  top: -60px;
}

#accordion2 {
  width: 1128px;
  font-size: 32px !important;
}

.w-100 {
  width: 611px !important;
}
.card {
  width: 480px;
  border-radius: 10px;
  border-color: rgba(1, 77, 171, 1);
  margin-bottom: 40px;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; /* Adjust as needed */
}

.home-text135 {
  width: 140px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 31px;
}

.home-text134 {
  width: 1128px;
  display: inline-block;
  vertical-align: middle;
}

.card-header {
  background-color: transparent !important;
  padding: 1.5rem 1rem !important;
  border-bottom: none;
  height: 92px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  padding: 2rem 5rem !important;
  font-family: Proxima Nova, sans-serif !important;
  font-size: 24px;
}

.w-101 {
  width: 743px !important;
  height: 580px !important;
}

.goals-bg {
  width:584px;
  height: 621px;
}

/* reset-style-sheet */
html {
  line-height: 1.15;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input {
  padding: 2px 4px;
}
img {
  display: block;
}

/* default-style-sheet */
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);
}


.multiply-container {
  display: flex;
  position: relative;
}

.multiply-root-class-name {
  top: 16px;
  left: 1236px;
  position: absolute;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-intro {
  top: 156px;
  left: 789px;
  width: 649px;
  height: 705px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-group3132 {
  top: 444px;
  left: 445px;
  width: 164px;
  height: 145px;
  position: absolute;
}
.home-group87791 {
  top: 71px;
  left: -121px;
  width: 868px;
  height: 581px;
  position: absolute;
}
.home-group3131 {
  top: 133px;
  left: 78px;
  width: 494px;
  height: 438px;
  position: absolute;
}
.home-content {
  top: 169px;
  left: 160px;
  width: 736px;
  height: 274px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text {
  top: 225px;
  color: rgba(85, 98, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text002 {
  color: rgba(24, 24, 27, 1);
  width: 771px;
  top: -17px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-content1 {
  top: 884px;
  left: 224px;
  width: 992px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text004 {
  color: rgba(24, 24, 27, 1);
  top: -60px;
  width: 992px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-input-field {
  gap: 8px;
  top: 445px;
  left: 160px;
  color: rgba(85, 98, 104, 1);
  width: 352px;
  display: flex;
  padding: 16px;
  position: absolute;
  font-size: 20px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Roboto;
  font-weight: 400;
  border-color: rgba(85, 98, 104, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}
.home-button-large {
  gap: 8px;
  top: 525px;
  left: 160px;
  width: 352px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-shadow: 4px 8px 16px 0px rgba(2, 78, 171, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(55, 152, 248, 1);
}
.home-text006 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-content2 {
  top: 1442px;
  left: 160px;
  width: 352px;
  height: 422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text008 {
  color: rgba(24, 24, 27, 1);
  top: -90px;
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text010 {
  top: 17px;
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-comforteasetechimage1 {
  top: 935px;
  left: 160px;
  width: 352px;
  height: 376px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(222, 222, 222, 1);
}
.home-image1 {
  top: -17px;
  left: -4px;
  width: 363px;
  height: 367px;
  position: absolute;
}
.home-image2 {
  top: 2.842170943040401e-14px;
  left: 0px;
  width: 352px;
  height: 380px;
  position: absolute;
}
.home-content3 {
  top: 1442px;
  left: 542px;
  width: 352px;
  height: 314px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text012 {
  color: rgba(24, 24, 27, 1);
  top: -90px;
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text014 {
  top: 17px;
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-comforteasetechimage2 {
  top: 935px;
  left: 544px;
  width: 352px;
  height: 376px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(186, 179, 175, 1);
}
.home-image11 {
  top: -17px;
  left: -4px;
  width: 363px;
  height: 367px;
  position: absolute;
}
.home-image21 {
  top: -11px;
  left: -4px;
  width: 484px;
  height: 496px;
  position: absolute;
}
.home-image3camadas11 {
  top: 36px;
  left: -57px;
  width: 465px;
  height: 350px;
  position: absolute;
}
.home-content4 {
  top: 1442px;
  left: 926px;
  width: 352px;
  height: 242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text016 {
  color: rgba(24, 24, 27, 1);
  top: -90px;
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text021 {
  top: 17px;
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-comforteasetechimage3 {
  top: 935px;
  left: 928px;
  width: 352px;
  height: 376px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(189, 183, 180, 1);
}
.home-image12 {
  top: -17px;
  left: -4px;
  width: 363px;
  height: 367px;
  position: absolute;
}
.home-image22 {
  top: -11px;
  left: -4px;
  width: 484px;
  height: 496px;
  position: absolute;
}
.home-image3 {
  top: -38px;
  left: 0px;
  width: 480px;
  height: 554px;
  position: absolute;
}
.home-image4 {
  top: -18px;
  left: -4px;
  width: 406px;
  height: 414px;
  position: absolute;
}
.home-chip11 {
  top: 935px;
  left: 839px;
  width: 527px;
  height: 401px;
  position: absolute;
}
.home-chip12 {
  top: 2940px;
  left: 563px;
  width: 665px;
  height: 506px;
  position: absolute;
}
.home-content5 {
  top: 2875px;
  left: 397px;
  width: 646px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text026 {
  color: rgba(24, 24, 27, 1);
  width: 700px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-content6 {
  top: 1895px;
  left: 319px;
  width: 848px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text028 {
  color: rgba(24, 24, 27, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-content7 {
  top: 3494px;
  left: 647px;
  width: 146px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text030 {
  top: -40px;
  color: rgba(24, 24, 27, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text032 {
  top: 3512px;
  left: 491px;
  color: rgba(85, 98, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text034 {
  top: 2938px;
  left: 446px;
  color: rgba(85, 98, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame28 {
  gap: 40px;
  top: 3620px;
  left: 156px;
  width: 1128px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-question1sharp {
  gap: 12px;
  height: 136px;
  display: flex;
  padding: 36px 54px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(241, 241, 241, 1);
}
.home-text036 {
  color: rgba(0, 0, 0, 1);
  width: 954px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text037 {
  font-weight: 700;
}
.home-plus {
  width: 54px;
  height: 54px;
}
.home-question2sharp {
  gap: 12px;
  height: 136px;
  display: flex;
  padding: 36px 54px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(241, 241, 241, 1);
}
.home-text055 {
  color: rgba(0, 0, 0, 1);
  width: 954px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text056 {
  font-weight: 700;
}
.home-plus1 {
  width: 54px;
  height: 54px;
}
.home-question3sharp {
  gap: 12px;
  height: 130px;
  display: flex;
  padding: 36px 54px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(241, 241, 241, 1);
}
.home-text063 {
  color: rgba(0, 0, 0, 1);
  width: 954px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text064 {
  font-weight: 700;
}
.home-plus2 {
  width: 54px;
  height: 54px;
}
.home-question4sharp {
  gap: 12px;
  height: 130px;
  display: flex;
  padding: 36px 54px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(241, 241, 241, 1);
}
.home-text071 {
  color: rgba(0, 0, 0, 1);
  width: 954px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text072 {
  font-weight: 700;
}
.home-plus3 {
  width: 54px;
  height: 54px;
}
.home-question5sharp {
  gap: 12px;
  height: 130px;
  display: flex;
  padding: 36px 54px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(241, 241, 241, 1);
}
.home-text079 {
  color: rgba(0, 0, 0, 1);
  width: 954px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text080 {
  font-weight: 700;
}
.home-plus4 {
  width: 54px;
  height: 54px;
}
.home-question6sharp {
  gap: 12px;
  height: 130px;
  display: flex;
  padding: 36px 54px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(241, 241, 241, 1);
}
.home-text100 {
  color: rgba(0, 0, 0, 1);
  width: 954px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text101 {
  font-weight: 700;
}
.home-plus5 {
  width: 54px;
  height: 54px;
}
.home-question8 {
  gap: 12px;
  height: 192px;
  display: flex;
  padding: 36px 54px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: flex-end;
  background-color: rgba(241, 241, 241, 1);
}
.home-text117 {
  color: rgba(0, 0, 0, 1);
  width: 954px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text118 {
  font-weight: 700;
}
.home-plus6 {
  width: 54px;
  height: 54px;
}

.home-text125 {
  top: 155px;
  left: 380px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text127 {
  top: 106px;
  left: 277px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group8780 {
  top: 268px;
  left: 186px;
  width: 749px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.home-group8780 input[type="text"] {
  background-color: rgba(34, 34, 34, 1);
}

.home-group8780 input[type="text"]::placeholder {
  color: rgb(55, 152, 248);
}

.home-input-field1 {
  gap: 8px;
  top: 0px;
  left: 0px;
  color: rgba(55, 152, 248, 1);
  width: 749px;
  display: flex;
  padding: 16px;
  position: absolute;
  font-size: 20px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  border-color: rgba(55, 152, 248, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
}
.home-button-large1 {
  gap: 8px;
  top: 1px;
  left: 514px;
  width: 233px;
  height: 56px;
  display: flex;
  padding: 16px;
  position: absolute;
  box-shadow: 4px 8px 16px 0px rgba(2, 78, 171, 0.2);
  align-items: center;
  flex-shrink: 0;
  border-radius: 0 8px 8px 0;
  justify-content: center;
  background-color: rgba(55, 152, 248, 1);
}
.home-text129 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-goalssurveysandtracking {
  top: -1550px;
  left: -115px;
  width: 1372px;
  height: 755px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame32 {
  top: -18px;
  left: 567px;
  width: 576px;
  height: 621px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 24px;
}
.home-frame31 {
  top: 18px;
  width: 597px;
  height: 621px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
}

.home-foto3pdpdesktop1 {
  top: 27px;
  left: 47px;
  width: 481px;
  height: 594px;
  position: absolute;
}
.home-frame16 {
  top: 481px;
  left: 570px;
  width: 214px;
  height: 127px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 1);
}
.home-image20 {
  top: 0px;
  left: 0px;
  width: 209px;
  height: 127px;
  position: absolute;
}
.home-image21 {
  top: -1px;
  left: 0px;
  width: 214px;
  height: 128px;
  position: absolute;
}
.home-frame29 {
  top: 191px;
  left: 1080px;
  width: 234px;
  height: 213px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 1);
}
.home-text131 {
  top: 24px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-image22 {
  top: 64px;
  left: 0px;
  width: 234px;
  height: 149px;
  position: absolute;
}
.home-frame33 {
  gap: 42px;
  top: 163px;
  left: 75px;
  width: 480px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-goals2 {
  gap: 12px;
  width: 480px;
  height: 92px;
  display: flex;
  padding: 24px 36px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(1, 77, 171, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 16px;
}
.home-checkmarkdiamond {
  width: 42px;
  height: 42px;
}
.home-text133 {
  color: rgba(0, 0, 0, 1);
  width: 480px;
  height: auto;
  flex-grow: 1;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text134 {
  font-weight: 700;
  font-size: 31px;
}
.home-surveys2 {
  gap: 12px;
  width: 480px;
  display: flex;
  padding: 24px 36px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(1, 77, 171, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 16px;
}
.home-highlighter {
  width: 42px;
  height: 42px;
}
.home-text142 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.home-tracking2 {
  gap: 12px;
  width: 480px;
  display: flex;
  padding: 24px 36px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(1, 77, 171, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 16px;
}
.home-alarm {
  width: 42px;
  height: 42px;
}
.home-text144 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}

.home-image32 {
  top: 3074px;
  left: 430px;
  width: 269px;
  height: 264px;
  position: absolute;
}

.page-ad {
  left: 0px;
  width: 100%;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(20, 55, 72, 1);
} 
.page-ad-text {
  top: 14px;
  left: 425px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}

.page-multiply {
  top: 16px;
  left: 1236px;
  width: 24px;
  height: 24px;
  position: absolute;
}

/* NAVBAR */
.navbar {
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick it to the top of the viewport */
  width: 100%; /* Make it full width */
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(202, 202, 202, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1000; /* Adjust the z-index as needed */
}

.page1-header {
  top: 24px;
  left: 206px;
  width: 1073.70556640625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page1-text100 {
  top: 11px;
  color: #212121;
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.page1-button {
  top: 0px;
  left: 924.70556640625px;
  width: 149px;
  height: 52px;
  display: flex;
  padding: 12px 22px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(55, 152, 248, 1);
}
.page1-text102 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: bold;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
  white-space: nowrap; /* Ensures text stays on one line */
}
.page1-frame5 {
  gap: 30px;
  top: 14px;
  left: 160.432861328125px;
  width: 410.22100830078125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page1-product {
  gap: 4px;
  display: flex;
  align-items: flex-start;
}
.page1-text104 {
  color: #212121;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.page1-frame3 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
}
.page1-text106 {
  color: #212121;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  width: 137px;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.page1-frame4 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
}
.page1-text108 {
  color: #212121;
  height: auto;
  font-size: 24px;
  width: 163px;
  font-style: Regular;
  text-align: left;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.page1-chevrondown {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.page1-personologo {
  top: 29px;
  left: 160px;
  width: 42px;
  height: 41px;
  position: absolute;
}